body{
	background-image: linear-gradient(180deg, rgba(33, 212, 253, 1) 0%, rgba(183, 33, 255, 1) 100%);
	overflow-x: hidden;
}

header{
	margin-left: 10vh;
	top:0;
	height: 20px;
}

header img{
	margin-top:45px;
	float: left;
	max-width: 30vh;
	max-height: 10vh;
}
.Contact_Us_Class {
	cursor: pointer;
	position: absolute;
	width: 100px;
	height: 40px;
	left: 1091px;
	top: 54px;
	overflow: visible;
}
.Rectangle_1_Class {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.CONTACT_US_Class {
	left: 17px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 12px;
	margin-top: -1px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}

.intro{
	float: left;
	padding: 10vh 10vh;
	color: white;
	text-align: left;
	max-width: 85vh;
}

.intro h1{
	width: 100%
	font-family: 'Montserrat';
	font-size: 56px;
	line-height: 73px;
	font-style: normal;
	font-weight: 20;
	margin-bottom: 0px;
}
.img-css{
	margin: 100px 100px;
	float: right;
	max-height: 88vh;
	max-width: 70vh;
	margin-top: 170px; 
}

.img-css img{
	
	
	/*height: 88vh;
	max-width: 70vh;*/
}

@media only screen and (max-width: 600px){
	header{
		margin-left: 2vh;
		top:0;
		height: 10px;
	}

	header img{
		margin-top:15px;
		float: left;
		max-width: 10vh;
		max-height: 10vh;
	}
	body{
		align-items: center;
	}

	.intro h1{
		font-size: 30px;
		line-height: 50px;
	}

	.intro p{
		font-size: 12px;
	}

	.img-css{
		float: none;
		align-items: center;
		margin: 50px 20px;
		max-height: 88vh;
		max-width: 70vh;
	}
}